<footer>
    <div class="row"  data-equalizer data-equalize-on="medium">
        <div class="columns medium-4 resume" data-equalizer-watch>
            <h4 class="text-right">{% module getSetting('SITE_NAME') %}</h4>
            <p class="text-right">{% module getSetting('SITE_TITLE') %}</p>
        </div>
        <div class="columns medium-8" data-equalizer-watch>
            <h4 class="text-left"><span class="fa fa-heart"></span> 特别感谢</h4>
            <ul class="list-unstyled">
                <li><a href="http://www.nwpu.edu.cn">西北工业大学</a> </li>
                <li><a href="http://npuacm.info">西北工业大学ACM</a> </li>
            </ul>
            <p>由Tornado和Foundation驱动</p>
        </div>
    </div>
</footer>