{% extends 'base.html' %}

{% block content %}
    <div class="row intro-screen" style="padding-top: 3rem">
        <div class="columns medium-8 medium-offset-2">
            <h1 class="text-center site-title">NPUACM LAB</h1>
            <h3 class="text-center"><span class="fa fa-globe"></span> 支持的OJ</h3>
            <ul class="breadcrumbs">
                <li><a href="http://poj.org/">POJ</a></li>
                <li><a href="http://acm.hdu.edu.cn/">HDU</a></li>
                <li><a href="http://acm.zju.edu.cn/onlinejudge/">ZOJ</a></li>
                <li><a href="http://codeforces.com/">Codeforce</a></li>
                <li><a href="http://acm.fzu.edu.cn/">FZU</a></li>
                <li><a href="http://acdream.info/">ACDream</a></li>
                <li><a href="http://www.lydsy.com/JudgeOnline/">BZOJ</a></li>
                <li><a href="http://acm.timus.ru/">URAL</a></li>
                <li><a href="http://acm.csu.edu.cn/OnlineJudge/">CSU</a></li>
                <li><a href="http://acm.hust.edu.cn/">HUST</a></li>
                <li><a href="http://www.spoj.com/">SPOJ</a></li>
                <li><a href="http://acm.sgu.ru/">SGU</a></li>
                <li><a href="http://acm.hust.edu.cn/vjudge/toIndex.action">Vjudge</a></li>
                <li><a href="http://acm.bnu.edu.cn/v3/">BNU</a></li>
                <li><a href="http://acm.cqu.edu.cn/">CQU</a></li>
                <li><a href="http://acm.uestc.edu.cn/">UESTC</a><small><span class="fa fa-check"></span> </small></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="columns medium-8 medium-offset-2">
            <form>
                <h5 class="text-center">你需要输入你的用户名</h5>
            </form>
        </div>
    </div>


{% end %}