{% extends 'base.html' %}

{% block head %}
    <!-- Add dataTable support for data change -->
    <link href="//cdn.bootcss.com/datatables/1.10.12/css/dataTables.foundation.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.bootcss.com/datatables/1.10.12/js/dataTables.foundation.js"></script>
{% end %}

{% block content %}
    <div class="row feature-screen" style="padding-top: 3rem;padding-bottom: 2rem">
        <div class="columns medium-10 medium-offset-1">
            <h1 class="text-center site-title">NPUACM查题系统<small>beta</small></h1>
            <p class="text-center">Like Tornado</p>
            <!--<h3 class="text-center">在<a href="https://github.com/kidozh/tornado_site"><span class="fa fa-github"></span></a>上关注我们更多</h3>-->
        </div>
    </div>
    <div class="row realtime-screen" id="realtime-screen">
        <h2 class="text-center">实时情况查询<small>Websocket</small></h2>
        
    </div>
    <div class="row result-screen" id="result-screen" style="">
        <!-- this is result page and not shown until the query finished -->
        <div class="medium-8 medium-offset-2 table-scroll">
            <table id="result-table">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> 查询的OJ </th>
                        <th> 通过 </th>
                        <th> 提交 </th>
                        <th> 查看具体题目 </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
<!-- reveal -->
<div class="reveal" id="modal" data-reveal>
    <h1><span id="oj-name"></span>的具体AC题目</h1>
    <p id="ac-problem" style="word-break: break-all;word-wrap: break-word; "></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% end %}

{% block script %}
<script>
    var globalData = false;
    function queryInfo(mainName,viceName){
        xhr = $.ajax({
            url:"/query/api/",
            // data which api server can accept
            data:{
                mainName:mainName,
                viceName:viceName,
                timestamp: new Date().getTime(),
                revKey:Math.random()
            },
            //dataType:"json",
            type:"GET",
            cache: false,
            success: function (data) {
                globalData = data;
                var tableData = [];
                var cnt=0;
                var totAC=0;
                var totSubmit = 0;
                console.log(data['submit']);
                for (var item in data['ac']){
                    cnt+=1;
                    if (item != 'vjudge'){
                        totAC+=data['ac'][item].length;
                        totSubmit+=data['submit'][item];
                    }
                    var ojInfo = [
                            cnt,
                            item,
                            data['ac'][item].length,
                            data['submit'][item],
                            '<a href="javascript:getDetail(\'' + item+'\')">点击获得'+item+'的情况</a>'
                    ];
                    //console.log(ojInfo);
                    tableData.push(ojInfo);
                }
                var totInfo = [
                        cnt+1,
                        '合计',
                        totAC,
                        totSubmit,
                        ''
                ];
                tableData.push(totInfo);
                $('#result-table').DataTable({
                    data:tableData,
                    buttons: [
                        'copy', 'excel', 'pdf'
                    ]
                });
                console.log(data);
            },
            error:function (xhr, ajaxOptions, thrownError){
                console.error(xhr.status);
                console.error(thrownError);
                alert('抱歉，数据出错...');
            }

        });


    }

    function getDetail(oj){
        $('#modal #oj-name').text(oj.toUpperCase());
        $('#modal #ac-problem').text(globalData['ac'][oj].join());
        $('#modal').foundation('open');
    }

    $(document).ready(function () {
        queryInfo('{{ mainName }}','{{ viceName }}');
    });
</script>


{% end %}