{% extends 'base.html' %}

{% block content %}
<div class="row about-us" data-equalizer>
    <div class="columns medium-2 title" data-equalizer-watch>
        <h3>关于我们</h3>
    </div>
    <div class="columns medium-10 text" data-equalizer-watch>
        <p>这是一个西北工业大学ACM实验站点，采用全新的Tornado框架而成。</p>
        <p>我们预计会增加下面的功能</p>
        <ul>
            <li>查询题目</li>
            <li>检测题目</li>
            <li>更先进的反作弊系统</li>
            <li>CMS系统</li>
            <li>Rating系统</li>
        </ul>
        <p>更多，您可以访问<a href="https://github.com/kidozh/tornado_site">github</a>向我们提出更多。</p>
        <p>我们助力您走的更远～</p>
    </div>
</div>
<div class="row achieve">
    <h1 class="text-center title">我们的点点滴滴</h1>
    <div class="columns medium-12">
        <div class="item row " data-equalizer>
            <div class="medium-4 title columns" data-equalizer-watch>
                <h4 class="text-right">2002</h4>
                <p class="text-right location"><span class="fa fa-location-arrow text-right text-right"></span> 西北工业大学 </p>
            </div>
            <div class="medium-8 columns" data-equalizer-watch>
                <h3>成立</h3>
            </div>
        </div>

        <div class="item row" data-equalizer>
            <div class="medium-4 title columns" data-equalizer-watch>
                <h4 class="text-right">2006 </h4>
            </div>
            <div class="medium-8 columns" data-equalizer-watch>
                <h3>第一块区域赛铜牌</h3>
            </div>
        </div>

        <div class="item row" data-equalizer>
            <div class="medium-4 title columns" data-equalizer-watch>
                <h4 class="text-right">2007 </h4>
            </div>
            <div class="medium-8 columns" data-equalizer-watch>
                <h3>突破银牌</h3>
            </div>
        </div>

        <div class="item row" data-equalizer>
            <div class="medium-4 title columns" data-equalizer-watch>
                <h4 class="text-right">2008 </h4>
                <p class="text-right location"><span class="fa fa-location-arrow text-right"></span> 中国科技大学 </p>
            </div>
            <div class="medium-8 columns" data-equalizer-watch>
                <h3 class="">第二名</h3>
                <p><span class="fa fa-users"></span> 刘自涵、孙胡杨和李思晋 </p>
            </div>
        </div>

        <div class="item row" data-equalizer>
            <div class="medium-4 title columns" data-equalizer-watch>
                <h4 class="text-right">2012 </h4>
                <p class="text-right location"><span class="fa fa-location-arrow text-right"></span> 成都 </p>
            </div>
            <div class="medium-8 columns" data-equalizer-watch>
                <h3 class="">沉舟侧畔千帆过，病树前头万木春。</h3>
                <p>时隔多年的第一块银牌</p>
                <p><span class="fa fa-users"></span> neko13等 </p>
            </div>
        </div>

        <div class="item row" data-equalizer>
            <div class="medium-4 columns title" data-equalizer-watch>
                <h4 class="text-right">2014 </h4>
                <p class="text-right location"><span class="fa fa-location-arrow "></span> 西北工业大学 </p>
            </div>
            <div class="medium-8 columns" data-equalizer-watch>
                <h3 class="">承办区域赛</h3>
            </div>
        </div>

        <div class="item row" data-equalizer>
            <div class="medium-4 columns title" data-equalizer-watch>
                <h4 class="text-right">2014 </h4>
                <p class="text-right location"><span class="fa fa-location-arrow text-right"></span> 牡丹江、鞍山、北京、广州、上海 </p>
            </div>
            <div class="medium-8 columns" data-equalizer-watch>
                <h3 class="">7连铜</h3>
            </div>
        </div>

        <div class="item row" data-equalizer>
            <div class="medium-4 columns title" data-equalizer-watch>
                <h4 class="text-right">2015 </h4>
                <p class="text-right location"><span class="fa fa-location-arrow text-right"></span> 东北 </p>
            </div>
            <div class="medium-8 columns" data-equalizer-watch>
                <h3 class="">银牌</h3>
                <p><span class="fa fa-users"></span> 边旺、邓丝雨和赵铖皓 </p>
            </div>
        </div>

        <div class="item row" data-equalizer>
            <div class="medium-4 columns title" data-equalizer-watch>
                <h4 class="text-right">2015 </h4>
                <p class="text-right location"> <span class="fa fa-location-arrow text-right"></span> 沈阳 </p>
            </div>
            <div class="medium-8 columns" data-equalizer-watch>
                <h3 class="">金牌</h3>
                <p><span class="fa fa-users"></span> 邓丝雨、赵佳和李洪鹏 </p>
            </div>
        </div>

        <div class="item row" data-equalizer>
            <div class="medium-4 columns title" data-equalizer-watch>
                <h4 class="text-right">现在 </h4>
                <p class="text-right location"><span class="fa fa-location-arrow text-right"></span> 西北工业大学ACM </p>
            </div>
            <div class="medium-8 columns" data-equalizer-watch>
                <h3 class="">未来，因你而来</h3>
                <p><span class="fa fa-users"></span> 欢迎你加入我们！ </p>
            </div>
        </div>


    </div>
</div>
{% end %}