<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>西北工业大学ACM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="查询题数">
    <meta name="author" content="kidozh">
    <meta name="keyword" content="NWPUACMLAB">
    <!-- foundation -->
    <link href="//cdn.bootcss.com/foundation/6.2.4-rc1/foundation.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/foundation/6.2.4-rc1/foundation.min.js"></script>
    <!-- font-awesome -->
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!--costmize -->
    <link href="{{ static_url('css/portal/style.css') }}" rel="stylesheet">

    {% block head %}{% end %}

</head>
<body>

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <!-- off-canvas title bar for 'small' screen -->
        <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
            <div class="title-bar-left">
                <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
                <span class="title-bar-title">NPUACM</span>
            </div>
            <div class="title-bar-right">
                <span class="title-bar-title">关于我们</span>
                <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
            </div>
        </div>

        <!-- off-canvas left menu -->
        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
            <ul class="vertical dropdown menu" data-dropdown-menu>
                <li><a href="left_item_1">Left item 1</a></li>
                <li><a href="left_item_2">Left item 2</a></li>
                <li><a href="left_item_3">Left item 3</a></li>
            </ul>
        </div>

        <!-- off-canvas right menu -->
        <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
            <!--<ul class="vertical dropdown menu" data-dropdown-menu>
                <li><a href="right_item_1">Right item 1</a></li>
                <li><a href="right_item_2">Right item 2</a></li>
                <li><a href="right_item_3">Right item 3</a></li>
            </ul>-->
            <div class="display">
                <p>这是一个西北工业大学ACM实验站点，采用全新的Tornado框架而成。</p>
                <p>我们预计会增加下面的功能</p>
                <ul>
                    <li>查询题目</li>
                    <li>检测题目</li>
                    <li>更先进的反作弊系统</li>
                    <li>CMS系统</li>
                    <li>Rating系统</li>
                </ul>
                <p>更多，您可以访问github向我们提出更多。</p>
                <p>我们助力您走的更远～</p>
            </div>

        </div>

        <!-- "wider" top-bar menu for 'medium' and up -->
        <!--
        <div id="widemenu" class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">NPUACM</li>
                    <li class="has-submenu">
                        <a href="http://npuacm.info">主站</a>
                        <ul class="menu submenu vertical" data-submenu>
                            <li><a href="left_wide_11">Left wide 1</a></li>
                            <li><a href="left_wide_12">Left wide 2</a></li>
                            <li><a href="left_wide_13">Left wide 3</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">友链</a>

                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a class="text-right warning">&copy;2014-2016</a></li>
                </ul>
            </div>
        </div>
        -->

        <!-- original content goes in this container -->
        <div class="off-canvas-content" data-off-canvas-content>
            {% block content %}{% end %}


        </div>
        <!-- close wrapper, no more content after this -->
    </div>
</div>

{% block script %}
{% end %}


<script>
    $(document).foundation();
</script>
</body>
</html>