{% extends 'base.html' %}

{% block content %}
    <div class="row fullscreen">
        <div class="columns medium-2 guide-part">
            <h2 class="text-right guide-title">开始</h2>
        </div>
        <div class="columns medium-10" data-equalizer data-equalize-on="medium">
            <div class="row">
                <!-- this is the display screen -->
                <div class="columns medium-4">
                    <div class="feature-screen query-feature" data-equalizer-watch>
                        <h3>查询OJ</h3>
                        <p>快速的掌握您的刷题实况</p>
                    </div>
                </div>

                <div class="columns medium-4">
                    <div class="feature-screen antiCheat-feature" data-equalizer-watch>
                        <h3>反作弊系统</h3>
                        <p>正在路上</p>
                    </div>
                </div>

                <div class="columns medium-4">
                    <div class="feature-screen more-feature" data-equalizer-watch>
                        <h3><a class="title" href="/about/">关于我们</a> </h3>
                        <p>About us.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% end %}