<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改你的设定</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="修改你的配置">
    <meta name="author" content="kidozh">
    <meta name="keyword" content="NWPUACM">
    <!-- foundation -->
    <link href="//cdn.bootcss.com/foundation/6.2.4-rc1/foundation.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/foundation/6.2.4-rc1/foundation.min.js"></script>
    <!-- font-awesome -->
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<div class="off-canvas-wrapper">

</div>

</body>
</html>