{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="columns medium-10 medium-offset-1" style="padding-top: 3rem;padding-bottom: 3rem">
            <h3 class="text-center">欢迎使用！ <small>由您配置</small></h3>
            <p class="text-center">我们无法找到您的配置文件或者您的配置文件出错了。</p>
            <hr>
            <h4 class="subheaders">您可以这样做：</h4>
            <div class="row">
                <div class="columns medium-12">
                    <!-- title -->
                    <ul class="tabs" data-tabs id="example-tabs">
                        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">手动更改ini文件</a></li>
                        <li class="tabs-title"><a href="#panel2">在线配置</a></li>
                    </ul>

                    <!-- content -->
                    <div class="tabs-content" data-tabs-content="example-tabs">
                        <div class="tabs-panel is-active table-scroll" id="panel1">
                            <p>你可以直接增加或者修改位于<code>configure</code>文件夹下的py文件.</p>
                            <p>我们使用的是<code>py</code>配置文件</p>
                            <p>我们需要您提供下面的信息：</p>
                            <table>
                                <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>填充内容</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <!-- body -->
                                <tbody>
                                    <tr>
                                        <td>db_type</td>
                                        <td>数据库类型</td>
                                        <td>请您查看SQLAlchemy支持的数据库类型</td>
                                    </tr>
                                    <tr>
                                        <td>db_driver</td>
                                        <td>数据库驱动</td>
                                        <td>若您留空，则代表您选择SQLAlchemy默认的驱动</td>
                                    </tr>
                                    <tr>
                                        <td>db_user</td>
                                        <td>数据库用户</td>
                                        <td>请尽可能选用具有最小的privileges的用户来访问这个数据库</td>
                                    </tr>
                                    <tr>
                                        <td>db_passwd</td>
                                        <td>数据库密码</td>
                                        <td>SQLite请留空</td>
                                    </tr>
                                    <tr>
                                        <td>db_host</td>
                                        <td>数据库地址</td>
                                        <td>本地可选择localhost</td>
                                    </tr>
                                    <tr>
                                        <td>db_name</td>
                                        <td>数据库名称</td>
                                        <td>必填</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h6>这是我们给的一个实例</h6>
                            <pre class="python">
# -*- coding: UTF-8 -*-
__author__ = 'kidozh'
# this file try to demostrate the sqlachemy's configuration
# if you want to configure sqlachemy manually , you will change it and rename dbsetting.py

# host for database
db_host = ''


# username for database
db_user = 'root'

# password for database
db_passwd = ''

# database's type
db_type = 'mysql'

# driver for SQLalchemy
db_driver = 'mysqldb'

# which database we should choose
db_name = 'npuacm'</pre>
                            <p>你需要注意，我们不会主动检查您的数据库配置是否能够连接到数据库，请您配置完成之后重新本地址检查数据库配置情况</p>

                        </div>
                        <div class="tabs-panel" id="panel2">
                            <p>位于下方的就是您需要提供的数据了，您现在就绪了吗？</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if error %}
    <div class="row">
        <div class="columns medium-10 medium-offset-1">
            <div class="callout alert">
                <h5>出错啦</h5>
                <p>很抱歉，您配置的信息不正确，请您重试.</p>
            </div>
        </div>
    </div>
    {% end %}
    <div class="row ">
        <div class="columns medium-10 medium-offset-1 configure-form">
            <h3 class="site-title text-center">NPUACM</h3>
            <h5 class="row text-center">我们需要下面的信息</h5>
            <form class="form-control" action="/configure/" method="POST">
                {% module xsrf_form_html() %}
                <h6 class="text-center">数据库</h6>
                <div class="row">
                    <div class="columns medium-8 medium-offset-2">
                        <label>数据库类型
                            <input type="text" name="databaseType" placeholder="您可以查询所有SQLalchemy支持的数据库">
                        </label>
                        <p class="help-text">点击<a href="http://docs.sqlalchemy.org/en/rel_1_1/core/engines.html">这里</a>查看数据库对应的驱动</p>
                    </div>
                </div>
                <div class="row">
                    <div class="columns medium-8 medium-offset-2">
                        <label>数据库驱动
                            <input type="text" name="databaseDriver" placeholder="您可以查询所有SQLalchemy支持的驱动">
                        </label>
                        <p class="help-text">点击<a href="http://docs.sqlalchemy.org/en/rel_1_1/core/engines.html">这里</a>查看数据库对应的驱动</p>
                    </div>

                </div>
                <div class="row">
                    <div class="columns medium-8 medium-offset-2">
                        <label>数据库地址
                            <input type="text" name="databaseHost" placeholder="数据库位于本地，可以键入localhost">
                        </label>
                        <p class="help-text">数据库位于本地，可以键入localhost。</p>
                    </div>

                </div>
                <div class="row">
                    <div class="columns medium-8 medium-offset-2">
                        <label>数据库用户名
                            <input type="text" name="databaseUser" placeholder="建议您键入与权限相符的用户名。">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="columns medium-8 medium-offset-2">
                        <label>数据库密码
                            <input type="password" name="databasePassword" placeholder="密码">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="columns medium-8 medium-offset-2">
                        <label>数据库名称
                            <input type="text" name="databaseName" placeholder="数据库名称">
                        </label>
                        <p>如果您选择的是SQLite数据库，您在输入数据库名称的时候，不需要带上<code>.db</code>后缀。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="columns medium-6 medium-offset-3">
                        <button type="submit" class="submit-button button">提交</button>
                    </div>

                </div>
            </form>
        </div>


    </div>
{% end %}