@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

*{
    font-family: 'Roboto',"Ubuntu", "微软雅黑", "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.top-bar{
    background: #1F4E5F;
}

.top-bar *{
    background: #1F4E5F;
}

.top-bar li{
    color: #F4F7F7;
    font-family: 'Exo 2',"微软雅黑", sans-serif;
}

.top-bar li a{
    color: #F4F7F7;
    font-family: 'Exo 2',"微软雅黑", sans-serif;
}

.title-bar {
    background-color: #00AD7C;
}

.title-bar *{
    background-color: #00AD7C;
}

.title-bar button{
    color: #52D681;
}

.title-bar span{
    color: #FFF8B5;
}

.off-canvas{
    background: #F5E495;
}

.off-canvas>ul,
.off-canvas>ol{
    background: #FFC47F;
    color: #F7825D;
    font-family: 'Exo 2',"微软雅黑", sans-serif;
}

.off-canvas p,
.off-canvas a{
    color: #00032D;
    font-family: 'Exo 2',"微软雅黑", sans-serif;
}

.off-canvas .display{
    padding-left: 2rem;
    padding-right: 3rem;
    font-family: 'Exo 2',"微软雅黑", sans-serif;
}

.site-title ,
.menu-text,
.title-bar-title{
    font-family: 'Audiowide', cursive, sans-serif;
}



.intro-screen {
    background: #FF512F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF512F , #F09819); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF512F , #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0 0 0 0;
    max-width: none;
    padding-bottom: 3rem;
}

.intro-screen h1,
.intro-screen h2,
.intro-screen h3,
.intro-screen h4,
.intro-screen h5,
.intro-screen h6,
.intro-screen p,
.intro-screen span{
    color: #f9f2f4;

}

.intro-screen a{
    color: #FFF8B5;
    transition-duration: 0.6s;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Exo 2',"微软雅黑", sans-serif;
}

.intro-screen a:hover {
    color: #00032D;
    text-decoration: none;
}

.intro-screen .site-title {
    color: #FFC47F;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid #f9f2f4 0.2rem;
    margin-bottom: 1rem;
    font-family: 'Audiowide', cursive, sans-serif;
}




code {
    background: #f9f2f4;
    color: #C0392B;
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-width: 0;
}

footer {
    background: #FAF99F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace,sans-serif;
}

footer p{
    color: #D65F5F;
    font-size: 1.3rem;
    margin-bottom: 0;
}

footer a{
    color: #78D8D0;
    transition-duration: 0.5s;
}

footer a:hover{
    color: #A1F6B6;
}

pre {
    background-color: #FFFFFF;
    color: #1D2D44;
    border-color: #B4DC7F;
    border-width: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: 'Ubuntu mono','Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}